@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@800&family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.container {
    max-width: 1440px;
    padding: 0 3%;
    margin: 0 auto;
}

.navbar {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_logo-text {
    margin-top: -670px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.background {
    background: #F9BB88;
    width: 600px;
    height: 750px;
    margin-top: -150px;
    margin-left: -70px;
}

.nav_logo-text>p {
    width: 150px;
    margin-left: -250px;
    font-weight: 500;
}

.nav_menu>a {
    padding: 10px;
    text-decoration: none;
    color: #202020;
    font-weight: 400;
    font-size: 12px;
}

.nav_menu>a:hover {
    text-shadow: 2px 2px 5px #000000;
}

.nav_menu>a:focus {
    color: #000000;
    text-decoration: underline;
}

.bi-list {
    display: none;
}

.call_me {
    margin-top: 50px;
    margin-right: -50px;
    width: 300px;
}

.call_me>a {
    font-weight: 500;
    text-decoration: none;
    color: #202020;
}

.button-1 {
    margin-top: 10px;
    background: #FF9646;
    border: none;
    padding: 10px 14px;
    box-shadow: 2px 1px 5px rgb(167, 167, 167);
    border-radius: 2px;
}

.button-1>a {
    text-decoration: none;
    color: white;
}

.hero-btn-1:hover {
    background: #ff6f00;
}

.hero-btn-1:focus {
    background: #000000;
    transition: 1s;
}

.consultation {
    display: grid;
    columns: 1;
}

.consultation-part-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-gap: 100px;
}

.main-img {
    margin-left: 80px;
    margin-top: 70px;
}

.main-img>img {
    width: 600px;
    height: 400px;
}

.consultation-text {
    margin-right: 150px;
}

.consultation-text>.p-1 {
    color: #ff6f00;
    margin-bottom: 20px;
}

.consultation-text>h1 {
    width: 250px;
    font-size: 35px;
}

.line {
    background: #F9BB88;
    width: 517px;
    height: 3px;
    margin-top: 20px;
    margin-left: -250px;
}

.consultation-text>.p-2 {
    width: 370px;
    margin-top: 30px;
    color: #202020;
}

.button-2 {
    margin-top: 20px;
    padding: 13px 35px;
    border: none;
    background: #ff6f00;
    box-shadow: 2px 1px 5px rgb(167, 167, 167);
    color: white;
    border-radius: 2px;
}

.hero-btn-2:hover {
    background: #e96500;
}

.hero-btn-2:focus {
    transition: 1s;
    background: #000000;
}

.consultation-card {
    background: #202020;
    width: 390px;
    height: 180px;
    margin-top: -4px;
    margin-left: 290px;
}

.consultation-card>p {
    color: white;
    width: 350px;
    padding: 30px 50px;
    font-size: 18px;
    line-height: 25px;
}

.button-3 {
    margin-left: 50px;
    padding: 15px 45px;
    background: white;
    border: none;
    color: black;
    border-radius: 2px;
}

.hero-btn-3:hover {
    background: black;
    color: white;
}

.hero-btn-3:focus {
    transition: 1s;
    background: #303030;
}

.main-cards {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 200px;
    border: 2px solid #F4F4F4;
}

.card-img {
    grid-gap: 1px;
    margin-bottom: 100px;
}

.card-img>img {
    margin-right: -50px;
    margin-top: -150px;
}

.restangle {
    width: 20px;
    height: 65px;
    background: #F9BB88;
    margin-bottom: -15px;
    margin-right: -50px;
}

.card-text {
    width: 300px;
    margin-left: 50px;
}

.card-text>p {
    width: 250px;
}

.catalog {
    margin-top: 200px;
}

.catalog-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.catalog-title>h2 {
    font-size: 30px;
}

.catalog-cards {
    margin-top: 200px;
    margin-left: 100px;
    grid-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-card>img {
    border: 2px solid #F4F4F4;
    width: 300px;
    height: 300px;
}

.catalog-card:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px #f4f4f4;
}

.catalog-card:active {
    cursor: pointer;
    box-shadow: 0 0 20px 5px #f4f4f4;
}

.catalog-card-text {
    line-height: 40px;
    width: 300px;
    margin-top: -5px;
    background: #F4F4F4;
    text-align: center;
}

.catalog-card-text>h3 {
    font-size: 20px;
}

.button-4 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;
    border: none;
    background: #FF9640;
    border-radius: 2px;
    box-shadow: 0px 2px 5px #8b8b8b;
    color: white;
}

.hero-btn-4:hover {
    background: #ff6f00;
}

.hero-btn-4:focus {
    transition: 1s;
    background: #303030;
}

.order-3d {
    margin-top: 100px;
    background: #F4F4F4;
    width: 1360px;
    margin-left: -51px;
}

.order-3d-title {
    margin-left: 70px;
    padding: 50px 300px;
    text-align: center;
}

.order-3d-title>h1 {
    width: 600px;
    font-size: 30px;
}

.order-3d-title>p {
    margin: 40px 50px;
    width: 500px;
}

.order-3d-input {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 80px;
}

.order-3d-input>input {
    background: #F4F4F4;
    border: none;
    border-bottom: 1px solid #8b8b8b;
    padding: 5px 15px;
    outline: none;
}

.order-3d-input>input:focus {
    transition: 1s;
    border-bottom: 1px solid #000000;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    grid-gap: 15px;
}

.button-5 {
    padding: 10px 30px;
    border: none;
    background: #F98C37;
    border-radius: 2px;
    box-shadow: 0px 2px 5px #8b8b8b;
    color: white;
}

.hero-btn-5:hover {
    background: #ff6f00;
}

.hero-btn-5:focus {
    transition: 1s;
    background: #000;
}

.order-3d-text2 {
    color: #8b8b8b;
    width: 300px;
}

.order-3d-text2>a {
    color: #8b8b8b;
}





















@media only screen and (max-width:1024px) {
    .call_me {
        margin-right: -300px;
    }

    .card {
        grid-gap: 20px;
    }

    .card-img {
        margin-left: 20px;
    }

    .main-cards {
        margin-left: 300px;
    }

    .catalog-title {
        margin-right: -300px;
        grid-gap: 300px;
    }

    .catalog-cards {
        margin-left: 350px;
        grid-gap: 20px;
    }
}

@media only screen and (max-width:768px) {
    .container {
        max-width: 768px;
    }

    .nav_logo-text {
        margin-left: -250px;
    }

    .nav_logo-text>p {
        margin-right: -110px;
    }

    .background {
        width: 350px;
        margin-top: -209px;
        margin-left: -180px;
    }

    .nav_menu {
        display: grid;
        columns: 1;
        margin-left: -250px;
        margin-bottom: 50px;
    }

    .call_me {
        margin-top: -200px;
        margin-left: -200px;
    }

    .main-img {
        margin-top: -50px;
        margin-left: 50px;
    }

    .main-img>img {
        width: 500px;
        height: 300px;
    }

    .consultation-text {
        margin-bottom: -650px;
        margin-left: -300px;
    }

    .consultation-card {
        width: 350px;
    }

    .line {
        width: 350px;
        margin-left: 0px;
    }

    .consultation-card {
        margin-left: -31px;
    }

    .main-cards {
        margin-left: 50px;
        margin-top: 250px;
    }

    .card {
        width: 200px;
        height: 150px;
    }

    .card-img>img {
        width: 40px;
        height: 40px;
    }

    .restangle {
        width: 13px;
        height: 40px;
    }

    .card-text {
        margin-left: 25px;
    }

    .card-text>b {
        font-size: 12px;
    }

    .card-text>p {
        margin-top: 10px;
        font-size: 10px;
        width: 130px;
    }

    .catalog-title {
        margin-left: -300px;
    }

    .catalog-title>img {
        margin-left: -600px;
    }

    .catalog-title>h2 {
        font-size: 25px;
    }

    .catalog-cards {
        margin-right: 400px;
    }

    .catalog-card>img {
        width: 200px;
        height: 200px;
    }

    .catalog-card-text {
        width: 200px;
    }

    .catalog-card-text>h3 {
        font-size: 15px;
    }

    .catalog-card-text>p {
        font-size: 13px;
    }

    .order-3d-title {
        margin-left: -190px;
    }

    .order-3d-form {
        margin-left: -500px;
    }
}

@media only screen and (max-width:425px) {
    .container {
        max-width: 425px;
    }

    .background {
        width: 100px;
        margin-left: -222px;
    }

    .nav_logo-text>img {
        width: 80px;
        height: 80px;
        margin-bottom: -150px;
        margin-left: -80px;
    }

    .nav_logo-text>p {
        display: none;
    }

    .nav_menu>a {
        display: none;
    }

    .call_me {
        display: none;
    }

    .bi-solid {
        display: block;
        margin-top: -35px;
    }

    .nav_menu {
        margin-right: -200px;
    }

    .main-img {
        width: 200px;
        margin-left: -13px;
    }

    .consultation-card {
        margin-top: 400px;
    }
}